* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

.sec-header {
    height: 100vh;
    background-image: url(assets/header-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text {
    text-align: center;
    color: #fff;
}

.header-text h1 {
    font-size: 100px;
    font-weight: 800;
    text-transform: uppercase;
}

.header-text p {
    font-weight: 400;
    font-size: 20px;
}

.header-text .prm-btn {
    font-size: 18px;
    color: #fff;
    background: #1394CB;
    padding: 10px 25px;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
}

section.opt {
    padding: 50px 0;
}

.opt-box .opt-img {
    width: 200px;
    margin: auto;
}

.opt-box {
    text-align: center;
    margin: 20px 0;
}

.opt-text {
    margin-top: 20px;
}

.opt-text h4 {
    font-weight: 800;
    color: #333;
    font-size: 24px;
    text-transform: uppercase;
}

.opt-text p {
    font-size: 16px;
    color: #666;
}


.get-in {
    background: url(assets/get-in-touch-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.get-in-box {
    background: #fff;
    border: 4px solid #1394CB;
    max-width: 800px;
    margin: auto;
    padding: 40px;
}

.get-in-box h4 {
    font-size: 25px;
    font-weight: 700;
    color: #333;
}

.contacts {
    margin-top: 40px;
}

.con-box {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.con-text {
    font-size: 16px;
    font-weight: 500;
    color: #666;
}

.owner-img {
    width: 250px;
    margin-left: auto;
}

.owner-img p {
    margin: auto;
    display: block;
    width: fit-content;
    text-align: center;
    font-weight: 700;
    color: #333;
}

.lwr-footer p {
    margin: 0;
    text-align: center;
    padding: 5px 0;
    font-weight: 700;
    color: #000;
}


@media (max-width: 767px) {
    .header-text h1 {
        font-size: 60px;
    }

    .owner-img {
        margin: auto;
        width: 200px;
    }
}



@media (max-width: 475px) {
    .header-text h1 {
        font-size: 40px;
    }
}